<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="srrg2_navigation_2d_ros" type="path_follower_app" name="path_follower_1" args="_cmd_vel_topic:=/robot_0/cmd_vel _base_link_frame_id:=robot_0/base_laser_link _path_topic:=/robot_0/local_path" respawn="false">
  </node>

  <node pkg="srrg2_navigation_2d_ros" type="path_follower_app" name="path_follower_2" args="_cmd_vel_topic:=/robot_1/cmd_vel _base_link_frame_id:=robot_1/base_laser_link _path_topic:=/robot_1/local_path" respawn="false" >
  </node>

</launch>
